#Copiar variables de entorno a .env local
MYSQL_ROOT_PASSWORD=root123
MYSQL_USER=hotel_user
MYSQL_PASSWORD=hotel123

# Nombres de bases de datos
HOTELES_DB_NAME=db_hoteleria_hoteles
DISPONIBILIDADES_DB_NAME=db_hoteleria_disponibilidades
HABITACIONES_DB_NAME=db_hoteleria_habitaciones
EMPLEADOS_DB_NAME=db_hoteleria_empleados
HUESPEDES_DB_NAME=db_hoteleria_huespedes
RESERVAS_DB_NAME=db_hoteleria_reservas
CHECK_IN_DB_NAME=db_hoteleria_check_in
CHECK_OUT_DB_NAME=db_hoteleria_check_out
PAGOS_DB_NAME=db_hoteleria_pagos
FACTURAS_DB_NAME=db_hoteleria_facturas

# URLs de servicios para comunicación
HUESPEDES_SERVICE_URL=http://huespedes-service:8085
PAGOS_SERVICE_URL=http://pagos-service:8089
RESERVAS_SERVICE_URL=http://reservas-service:8086
CHECK_IN_SERVICE_URL=http://check-in-service:8087
CHECK_OUT_SERVICE_URL=http://check-out-service:8088
HABITACIONES_SERVICE_URL=http://habitaciones-service:8083
HOTELES_SERVICE_URL=http://hoteles-service:8081
EMPLEADOS_SERVICE_URL=http://empleados-service:8084
DISPONIBILIDAD_SERVICE_URL=http://disponibilidad-service:8082